ul.task-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.task-list li {
  /* border: 1px solid red; */
  background-color: #292929;
  color: #ccc;
  text-align: left;
  padding: 0.5em;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.tools span {
  visibility: hidden;
}

ul.task-list li:hover .tools span {
  visibility: visible;
}

ul.task-list li.complete {
  background-color: #393939;
}

ul.task-list li.complete .data {
  text-decoration: line-through;
  color: #999;
}

.title {
  font-weight: bold;
}

.description {
  font-style: italic;
}
